@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar~*,
.navbars~* {
    --f7-page-navbar-offset: auto;
}

.link,
.tab-link {
    --f7-touch-ripple-color: transparent;
}

.progressbar {
    height: 7px;
    border-radius: 10px;
}

input[type='date'],
input[type='time'],
input[type='text'],
textarea,
select
{
    border: 1px solid #9CA3AF;
    border-radius: 4px;
    padding: 1rem;
}

input[type='text']::placeholder {
    /* color: #3a3b3d; */
    font-size: 1rem;
}

.checklist-popup .navbar-inner {
    background: #E5E7EB;
}

@media (min-width: 630px) and (min-height: 630px) {
    .popup.checklist-popup.modal-in {
        height: 670px;
    }
}

.otp-popup .navbar-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    background: var(--f7-navbar-bg-color);
    background-color: #FFF;
    transition-property: transform;
}

.iti--inline-dropdown .iti__dropdown-content {
    width: 300px !important;
    height: 200px !important;
    overflow: hidden;
}