@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar~*,
.navbars~* {
    --f7-page-navbar-offset: auto;
}

.link,
.tab-link {
    --f7-touch-ripple-color: transparent;
}

input[type='date'],
input[type='text'],
select
{
    border: 1px solid #9CA3AF;
    border-radius: 4px;
    padding: 1rem;
}

input[type='text']::placeholder {
    /* color: #3a3b3d; */
    font-size: 1rem;
}

.checklist-popup .navbar-inner {
    background: #E5E7EB;
}

@media (min-width: 630px) and (min-height: 630px) {
    .popup.checklist-popup.modal-in {
        height: 670px;
    }
}